<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>BeachBall000</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BeachBall000</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall000</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall001</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall001</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall002</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall002</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall003</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall003</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall004</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall004</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall005</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall005</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall006</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall006</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall007</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall007</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall008</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall008</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall009</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall009</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall010</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall010</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall011</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall011</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall012</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall012</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall013</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall013</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall014</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall014</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall015</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall015</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall016</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall016</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall017</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall017</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall018</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall018</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall019</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall019</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall020</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall020</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall021</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall021</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall022</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall022</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall023</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall023</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall024</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall024</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall025</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall025</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall026</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall026</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall027</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall027</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall028</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall028</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BeachBall029</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BeachBall029</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
